
/*///////////// FuFood.cn CSS ////////////*/

/*////////////////// 基本 /////////////////*/
*, ::after, ::before {
    box-sizing: border-box;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .07em;
    background-color: #333;
}

section {
    padding: 30px 8px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1a1a1a;
    font-family: 'Lexend Deca', sans-serif ;
    margin-top: 30px;
}


a {
    color: #cc4125;
}

dl, ol, ul {
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0px;
}

/*////////////////// 导航栏 //////////////////*/

.navbar {
    /* 禁用文字选中*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin: 0;

    background-color: #444;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 0; 
    padding: 0px 0px;
    z-index: 10000;
    width: 100%;
    border-bottom: 0px solid #ced4da;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);
}

.navbar a {
    text-decoration: none !important;
    font-size: 15px;
    color: #999;
    font-weight: 500;
}

.navbar-toggler:focus {
    outline: none;
}

.nav-logo {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    width: auto;
    height: auto;
    max-height: 54px;
}

.nav-item {
    margin-top: 4px;
}

.nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: inline-block;
    line-height: 30px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.nav-link:hover {
    opacity: .95;
    border-bottom: 4px solid #cc4125;
}

.nav-link-active {
    color: #e36248 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: inline-block;
    line-height: 30px;
    opacity: .90;
    background-color: transparent !important;
    border-bottom: 4px solid #cc4125;
}

.nav-link-active:hover {
    opacity: .95;
    border-bottom: 4px solid #cc4125;
}

.nav-ul-link {
    text-align: center;
    display: block;
    padding: 0 1.4rem;
    clear: both;
    color: #666666;
    white-space: nowrap;
    background-color: transparent;
}

.nav-ul-link:hover{
    background-color: #f1f3f4;
}

.dropdown-menu {
    min-width: 45px !important;
    border-radius: 4px !important;
    margin-top: -5px !important;
    border: 1px solid #ced4da;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    margin-left: 20px;

    top: 100%;
    left: 0;
    float: left;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
}

/*////////////////// 按钮 //////////////////*/

.nav-btn {
    color: #666666 !important;
    cursor: pointer;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #cccccc;
    margin-left: 20px;
    transition: all 0.2s;
}

.nav-btn:hover {
    text-decoration: none;
    background-color: #f1f3f4;
    color: #666666;
}

.blue-btn {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0em;
    background-color: #fbfbfb;
    padding: 7px 7px;
    display: inline-block;
    border-radius: 4px;
    border: 0px solid transparent;
    max-width: 100px;
    margin: 0px 0px;
    min-height: 20px;
    text-align: center;
    transition: all 0.2s;
}

.blue-btn:hover {
    text-decoration: none;
    background-color: #cc4125;
    color: #ffffff;
}

/*////////////////// 文本图框 //////////////////*/
.comment {
  font-size: 1rem;
  color: #999;
  margin-bottom: .75rem;
  padding: .25rem 1rem .25rem 1rem;
}

.eyecus-table-info {
  color: #868e96;
  margin-top: -10px;
  font-size: 13px;
  padding-left: 13px;
  padding-bottom: 20px;


}

.eyecus-table-info  a {
    color: #868e96;
}

.nav-title {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.nav-title h1 {
    color: #cc4125;
}

.rank-text{
    font-size: 24px;
    color: #cc4125;
    font-weight: 600;
}

.fillet-box {
    background: #ffffff;
    font-weight: 300;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 0px;
    transition: all 0.3s ease-in-out;
}

.fillet-box:hover {
    box-shadow: 3px 10px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.fillet-box h4 {
    font-weight: 500;
}

.fillet-box img{
    text-align: center;
    background-size: cover;
    width: 100%;
    height: auto;
    border-radius: 7px;
    max-width: 600px;
}

.v-text {
   text-align: center;
   font-size: 12px;
}

.fillet-box-text {
    text-align: left !important;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .01em;
    padding: 13px 15px;
}

/*////////////////// 页脚 //////////////////*/

#footer, #footer a {
    color: #eee;
    font-size: 13px;
    background-color: #434343;
}

.eyecus-footer {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 20px 20px;
}

.eyecus-footer li {
    display:inline-block;
    margin: 3px 20px 0 0;
}

.eyecus-footer-logo {
    padding-bottom: 10px;
}

.eyecus-footer-qr {
    margin-top: 10px;
}

.eyecus-copyright {
    font-size: 10px;
    padding: 10px 35px 0 0;
}



/*////////////////// 其它 //////////////////*/

.topmargin-sm { 
    margin-top: 20px !important; 
}

.topmargin-lg { 
    margin-top: 60px !important; 
}

.text-light {
    color: #f8f9fa !important;
}

.text-dark {
    color: #1a1a1a !important;
}

.bg-dark {
    background-color: #000 !important;
}

.bg-gray {
    background-color: #f1f3f4 !important;
}

.bg-light {
    background-color: #ffffff !important;
}

.blank-l {
    padding-left: 30px;
}

.blank-r {
    padding-right: 30px;
}

.blank-t{
    margin-top: -4px;
}


